html,
body {
    background: #ffffff;
}

#container {
    display: block;
    position: relative;
    width: 1024px;
    height: 720px;
}

#header {
    display: block;
    position: fixed;
    background: #990000;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 20px solid #7A0000;
}

#header h1 {
    margin: 10px;
    color: #ffffff;
    font-weight: lighter;
}

#news-list,
#news-item {
    display: block;
    position: relative;
    margin: 90px 0 20px 20px;
}

#news-list .news-list-item {
    display: block;
    float: left;
    width: 480px;
    height: 360px;
    padding: 0 0 10px 0;
    margin: 0 20px 20px 0;
    border-bottom: 1px solid #990000;
    text-decoration: none;
}

#news-list .news-list-item a {
    display: block;
    position: relative;
    color: #505050;
}

#news-list .news-list-item span {
    display: block;
    position: absolute;
    background: #ffffff;
    padding: 10px;
    width: 460px;
    bottom: 0px;
}

#news-list .news-list-item img {
    height: 360px;
    width: 480px;
}

#news-list .news-list-item h3,
#news-list .news-list-item p {
    margin-top: 0;
}

#news-list .news-list-item p {
    font-size: .8em;
    display: none;
}

#news-list .news-list-item:hover {
    background: #dddddd;
}

#news-list .news-list-item:hover img {
    height: 354px;
    width: 474px;
    border: 3px solid #dddddd;
}

#news-list .news-list-item:hover h3 {
    display: none;
}

#news-list .news-list-item:hover p {
    display: block;
}

#loader {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* loader.gif from ajax-loader.info */
    background: url(../img/loader.gif) no-repeat center #7A0000;
}